# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @BlackTie/extension-team
.circleci/                           @BlackTie/extension-team @kumavis
development/                         @BlackTie/extension-team @kumavis
